:root {
    --fg-color: {{ brand.fgcolor }};
    --bg-color: {{ brand.bgcolor }};
    --act-color: {{ brand.actcolor }};
}

body {
    background-color: var(--bg-color);
}

#logo {
    content: url({{ brand.logo.url }});
}
