// Import Bulma's core
@import "bulma/sass/utilities/_all";

// Colors

$black:         {{ brand.colors.black }};
$black-bis:     {{ brand.colors.black_bis }};
$black-ter:     {{ brand.colors.black_ter }};

$grey-darker:   {{ brand.colors.grey_darker }};
$grey-dark:     {{ brand.colors.grey_dark }};
$grey:          {{ brand.colors.grey }};
$grey-light:    {{ brand.colors.grey_light }};
$grey-lighter:  {{ brand.colors.grey_lighter }};
$grey-lightest: {{ brand.colors.grey_lightest }};

$white-ter:     {{ brand.colors.white_ter }};
$white-bis:     {{ brand.colors.white_bis }};
$white:         {{ brand.colors.white }};

$orange:        {{ brand.colors.orange }};
$yellow:        {{ brand.colors.yellow }};
$green:         {{ brand.colors.green }};
$turquoise:     {{ brand.colors.turquoise }};
$cyan:          {{ brand.colors.cyan }};
$blue:          {{ brand.colors.blue }};
$purple:        {{ brand.colors.purple }};
$red:           {{ brand.colors.red }};

// Links
$link: $blue;

$loading-background: rgba(0,0,0,0.5);

// Import Bulma and Buefy styles
@import "bulma/bulma";
@import "buefy/src/scss/buefy";
@import "bulma-divider";

// Cesium specifics

:root {
    --logo: url({{ brand.logo.data_uri }});
    --white: {{ brand.colors.white }};
    --black: {{ brand.colors.black }};
    --primary: {{ brand.colors.turquoise }};
    --info: {{ brand.colors.cyan }};
    --success: {{ brand.colors.green }};
    --warning: {{ brand.colors.yellow }};
    --danger: {{ brand.colors.red }};
}

#logo {
    content: var(--logo);
}
