[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
hashids = "*"
uwsgi = "*"
django-extensions = "*"
django-celery-beat = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
django-redis = "*"
django-mailjet = "*"
django-celery-email = "*"
django-mail-templated = "*"
django-cache-memoize = "*"
drf_recaptcha = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-colorfield = "*"
authlib = "*"
django-media-fixtures = {ref = "e34d578ebdced10e904d01b982988fd1eaf16a87", git = "https://github.com/btimby/django-media-fixtures.git"}
libsass = "*"
csscompressor = "*"
django-elasticsearch-dsl = "*"
django-haystack = {extras = ["elasticsearch"], version = "*"}
django-elasticsearch-debug-toolbar = "*"
celery-haystack-ng = "*"
django-nacl-fields = {ref = "2742c15cbb66fe2c726cf887bd90e54678036aa7", git = "https://github.com/btimby/django-nacl-fields.git"}
django-picklefield = "*"
django-bitfield = "*"
stripe = "*"
videosrc = {ref = "73e7cc99d6032a72539de9e8bea32b0643d9655b", git = "https://github.com/cesium-tv/videosrc.git"}

[dev-packages]
flake8 = "*"
whitenoise = "*"
django-compress-staticfiles = "*"

[requires]
python_version = "3"
