[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
hashids = "*"
uwsgi = "*"
django-extensions = "*"
django-celery-beat = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
django-redis = "*"
django-mailjet = "*"
django-celery-email = "*"
django-mail-templated = "*"
django-cache-memoize = "*"
drf_recaptcha = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-colorfield = "*"
vidsrc = {path = "./vidsrc-0.1.0-py3-none-any.whl"}
authlib = "*"
django-media-fixtures = {ref = "28897a9b751c72739c331e6922f5cde9302a1202", git = "https://github.com/danbim/django-media-fixtures.git"}
libsass = "*"
csscompressor = "*"
django-elasticsearch-dsl = "*"
django-haystack = {extras = ["elasticsearch"], version = "*"}
django-elasticsearch-debug-toolbar = "*"
celery-haystack-ng = "*"
django-pgcrypto-fields = "*"

[dev-packages]
flake8 = "*"
whitenoise = "*"
django-compress-staticfiles = "*"

[requires]
python_version = "3"
